.about {
  padding: 155px 0 150px;
  font-family: $fontFamyliDefault;
  text-align: center;
  background-color: $bg;

  @media (max-width: $tablet-max-width) {
    padding: 78px 0 30px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 78px 0 89px;
  }
}

.about__title {
  margin: 0 0 45px;
  font-family: $fontFamyliOption;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;

  @media (max-width: $tablet-max-width) {
    font-size: 24px;
    margin: 0 0 37px;
  }
}

.about__inner {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 960px;
  margin: 0 auto;

  @media (max-width: $tablet-max-width) {
    min-width: auto;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: $mobile-max-width) {
    width: 81%;
    justify-content: center;
  }
}

.about__item {
  flex-basis: 21%;
  min-width: 234px;

  &:last-of-type {
    margin: 0;
  }

  @media (max-width: $tablet-max-width) {
    flex-basis: 45%;
    margin: 0 0 38px;
  }

  @media (max-width: $mobile-max-width) {
    flex-basis: 100%;
    margin: 0 0 43px;
  }
}

.about__count {
  color: $primary;
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
}

.about__text {
  color: $textColor;
  font-size: 22px;
  line-height: 34px;
  margin: 17px 0 0;

  @media (max-width: $mobile-max-width) {
    font-size: 18px;
    margin: 12px 0 0;
  }
}
