.intro {
  display: flex;
  justify-content: center;
  padding-top: 320px;
  padding-bottom: 218px;
  font-family: $fontFamyliDefault;
  color: $textColorInverse;
  background-image: url("../img/bg-head-desktop@1x.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-head-desktop@2x.jpg");
  }

  @media /*(min-width: $tablet-min-width) and */(max-width: $tablet-max-width) {
    padding-top: 135px;
    padding-bottom: 0;
    text-align: center;
    background-image: url("../img/bg-head-tablet@1x.jpg");
    background-position: center top;
    background-size: 100%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-head-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-max-width) {
    background-image: url("../../img/bg-head-mobile@1x.jpg");
    padding-top: 121px;


    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-head-mobile@2x.jpg");
    }
  }
}

.intro__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  min-width: 880px;
  margin: 0 19.5%;

  @media /*(min-width: $tablet-min-width) and */(max-width: $tablet-max-width) {
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    flex-wrap: wrap;
  }
}

.intro__left {
  flex-basis: 40%;
  min-width: 350px;
  max-width: 360px;

  @media /*(min-width: $tablet-min-width) and */(max-width: $tablet-max-width) {
    max-width: 506px;
    min-width: 406px;
    flex-basis: auto;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0 10px;
    max-width: 100%;
    min-width: 100%;
  }
}

.intro__right {
  flex-basis: 360px;
  min-width: 350px;

  @media (max-width: $tablet-max-width) {
    flex-basis: 100%;
    min-width: 100%;
    background-color: $bg;
    overflow: hidden;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-top: 64px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 55px;
  }
}

.intro__logo {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.inrto__title {
  margin: 25px 0;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: 0.8px;

  @media /*(min-width: $tablet-min-width) and */(max-width: $tablet-max-width) {
    margin: 0;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.8px;
  }

  /*@media (max-width: $mobile-max-width) {

  }*/
}

.intro__slogan {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: -0.005em;
  opacity: 0.8;

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-top: 19px;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.3px;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 18px;
    letter-spacing: 0;
  }
}
