.types {
  text-align: center;
  padding: 150px 0 100px;
  font-family: $fontFamyliDefault;
  background-color: $bgGrey;

  @media (max-width: $tablet-max-width) {
    padding: 50px 0 22px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 50px 0 10px;
  }
}

.types__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: #1f1f1f;
  margin: 0 0 49px;

  @media (max-width: $tablet-max-width) {
    font-size: 24px;
    line-height: 41px;
    margin: 0 0 29px;
  }
}

.types__inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 81%;
  margin: 0 auto;
  padding: 0;

  @media (max-width: $tablet-max-width) {
    width: 83%;
  }
}

.types__item {
  position: relative;
  margin: 0 0 50px;
  flex-basis: 32%;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    flex-basis: 42%;
  }

  @media (max-width: $mobile-max-width) {
    flex-basis: 100%;
    margin: 0 0 43px;
  }
}

.types__item--decor-left {
  padding: 10px 0 0 23px;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    left: -9.5%;
    top: 25.2%;
    height: 19.156%;
    width: 33.76%;
    background: transparent;
    border-radius: 100%;
    border: 27px solid $primary;
    z-index: -1;
  }

  @media (max-width: $tablet-max-width) {
    padding: 0;

    &::before {
      left: -14%;
      top: 57%;
      height: 25.73%;
      width: 33.705%;
      border-width: 18px;
    }
  }

  @media (max-width: $mobile-max-width) {
    &::before {
      left: -8%;
      top: 56.5%;
      height: 25.766%;
      width: 33.46%;
    }
  }
}

.types__item--decor-corners {
  padding: 39px 5px 0 28px;

  &::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 26px;
    height: 5.625%;
    width: 9.915%;
    background: #131314;
    z-index: 1;
  }


  &::after {
    content: "";
    position: absolute;
    right: -5%;
    bottom: 4.5%;
    height: 4.715%;
    width: 8.308%;
    background: transparent;
    border: 8px solid $primary;
  }

  @media (max-width: $tablet-max-width) {
    padding: 0;

    &::before,
    &::after {
      content: none;
    }
  }
}

.types__item--decor-top {
  padding-left: 30px;

  &::before {
    content: "";
    position: absolute;
    right: -9.5%;
    top: -5%;
    height: 9.275%;
    width: 16.345%;
    background: transparent;
    border-radius: 100%;
    border: 17px solid $primary;
    z-index: 1;
  }

  @media (max-width: $tablet-max-width) {
    padding-left: 0;

    &::before {
      top: -5.5%;
      height: 11.785%;
      width: 15.56%;
      border-width: 13px;
    }
  }

  @media (max-width: $mobile-max-width) {
    &::before {
      top: -6%;
      right: -5.5%;
      height: 11.875%;
      width: 15.56%;
    }
  }
}

.types__img-wrap {
  position: relative;
  height: 0;
  overflow: hidden;

  @media (max-width: $tablet-max-width) {
    min-width: 270px;
  }
}

.types__item--decor-left .types__img-wrap {
  padding-bottom: 143.5%;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 111%;
  }
}

.types__item--decor-corners .types__img-wrap {
  padding-bottom: 166%;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 111%;
  }
}

.types__item--decor-top .types__img-wrap {
  padding-bottom: 149.5%;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 111%;
  }
}

.types__img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
}

.types__caption {
  margin-top: 20px;
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
