.types {
  text-align: center;
  padding: 152px 0 150px;
  font-family: $fontFamyliDefault;
  background-color: $bgGrey;

  @media (max-width: $tablet-max-width) {
    padding: 52px 0 70px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 50px 0 52px;
  }
}

.types__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: #1f1f1f;
  margin: 0 0 49px;

  @media (max-width: $tablet-max-width) {
    font-size: 24px;
    line-height: 41px;
    margin: 0 0 30px;
  }
}

.types__inner {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding: 0 2.5% 0 4.237%;
  box-sizing: border-box;

  @media (max-width: $tablet-max-width) {
    flex-wrap: wrap;
    width: 77%;
    padding: 0;
  }

  @media (max-width: $mobile-max-width) {
    width: 85%;
  }
}

.types__item {
  position: relative;
  margin: 0;
  flex-basis: 30.5%;

  @media (max-width: $tablet-max-width) {
    flex-basis: 46%;
  }

  @media (max-width: $mobile-max-width) {
    flex-basis: 100%;
    margin: 0 0 43px;
  }
}

.types__item--decor-left {
  padding: 10px 0 0 0;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    left: -17.78%;
    top: 25%;
    height: 19.187%;
    width: 36.66%;
    background: transparent;
    border-radius: 100%;
    border: 27px solid $primary;
    z-index: -1;
  }

  @media (max-width: $tablet-max-width) {
    padding: 0;
    margin-right: 1.2%;

    &::before {
      left: -13.5%;
      top: 56.5%;
      height: 25.765%;
      width: 33.455%;
      border-width: 18px;
    }
  }

  @media (max-width: $mobile-max-width) {
    margin-right: 0;
    padding: 0;

    &::before {
      left: -8%;
      top: 56.5%;
      height: 25.766%;
      width: 33.46%;
    }
  }
}

.types__item--decor-corners {
  padding: 39px 0 0 0;

  &::before {
    content: "";
    position: absolute;
    left: -4%;
    top: 4%;
    height: 5.635%;
    width: 10.765%;
    background: #131314;
    z-index: 1;
  }


  &::after {
    content: "";
    position: absolute;
    right: -6%;
    bottom: 4.5%;
    height: 4.722%;
    width: 9.02%;
    background: transparent;
    border: 8px solid $primary;
  }

  @media (max-width: $tablet-max-width) {
    padding: 0;

    &::before,
    &::after {
      content: none;
    }
  }
}

.types__item--decor-top {
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    right: -10%;
    top: -5%;
    height: 9.29%;
    width: 17.75%;
    background: transparent;
    border-radius: 100%;
    border: 17px solid $primary;
    z-index: 1;
  }

  @media (max-width: $tablet-max-width) {
    padding: 0 2.75%;
    margin: 50px auto 0;

    &::before {
      right: -2.5%;
      top: -5.5%;
      height: 11.875%;
      width: 13.715%;
      border-width: 13px;
    }
  }

  @media (max-width: $mobile-max-width) {
    margin: 0;
    padding: 0;

    &::before {
      right: -4.5%;
      top: -6%;
      height: 11.895%;
      width: 15.445%;
      border-width: 13px;
    }
  }
}

.types__img-wrap {
  position: relative;
  height: 0;
  border-radius: 10px;
  overflow: hidden;

  @media (max-width: $tablet-max-width) {
    min-width: 270px;
  }
}

.types__item--decor-left .types__img-wrap {
  padding-bottom: 146.5%;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 110%;
  }
}

.types__item--decor-corners .types__img-wrap {
  padding-bottom: 165%;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 110%;
  }
}

.types__item--decor-top .types__img-wrap {
  padding-bottom: 149%;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 111%;
  }
}

.types__img {
  position: absolute;
  max-width: fit-content;
  width: auto;
  height: 100%;
  top: -50%;
  bottom: -50%;
  right: -50%;
  left: -50%;
  margin: auto;
}

.types__caption {
  margin-top: 20px;
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
}
