.types {
  text-align: center;
  padding: 152px 0 148px;
  font-family: $fontFamyliDefault;
  background-color: $bgGrey;

  @media (max-width: $tablet-max-width) {
    padding: 49px 0 71px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 50px 0 55px;
  }
}

.types__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: #1f1f1f;
  margin: 0 0 49px;

  @media (max-width: $tablet-max-width) {
    font-size: 24px;
    line-height: 41px;
    margin: 0 0 30px;
  }
}

.types__inner {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-max-width) {
    flex-wrap: wrap;
    width: 77%;
  }

  @media (max-width: $mobile-max-width) {
    width: 85%;
  }
}

.types__item {
  position: relative;
  margin: 0;
  flex-basis: 33%;

  @media (max-width: $tablet-max-width) {
    flex-basis: 45%;
  }

  @media (max-width: $mobile-max-width) {
    flex-basis: 100%;
    margin: 0 0 39px;
  }
}

.types__item--decor-left {
  padding: 10px 0 0 4.9%;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 25.5%;
    height: 19%;
    width: 31%;
    background: transparent;
    border-radius: 100%;
    border: 27px solid $primary;
    z-index: -1;
  }

  @media (max-width: $tablet-max-width) {
    padding: 0;
    margin-right: 1.2%;

    &::before {
      left: -13.5%;
      top: 56.5%;
      height: 25.765%;
      width: 33.455%;
      border-width: 18px;
    }
  }

  @media (max-width: $mobile-max-width) {
    margin-right: 0;
    padding: 0;

    &::before {
      left: -8%;
      top: 56.5%;
      height: 25.71%;
      width: 33.07%;
    }
  }
}

.types__item--decor-corners {
  padding: 39px 2.5% 0 4.5%;

  &::before {
    content: "";
    position: absolute;
    left: 9.6%;
    top: 3.9%;
    height: 5.655%;
    width: 8.735%;
    background: #131314;
    z-index: 1;
  }


  &::after {
    content: "";
    position: absolute;
    right: 1%;
    bottom: 4.5%;
    height: 4.714%;
    width: 7.317%;
    background: transparent;
    border: 8px solid $primary;
  }

  @media (max-width: $tablet-max-width) {
    padding: 0;

    &::before,
    &::after {
      content: none;
    }
  }
}

.types__item--decor-top {
  padding: 0 3% 0 2%;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: -5%;
    height: 9.3%;
    width: 15.12%;
    background: transparent;
    border-radius: 100%;
    border: 17px solid $primary;
    z-index: 1;
  }

  @media (max-width: $tablet-max-width) {
    padding: 0 2.75%;
    margin: 50px auto 0;

    &::before {
      right: -2.5%;
      top: -5.5%;
      height: 11.875%;
      width: 13.715%;
      border-width: 13px;
    }
  }

  @media (max-width: $mobile-max-width) {
    margin: 0;
    padding: 0;

    &::before {
      right: -5.5%;
      top: -5%;
      height: 11.805%;
      width: 15.455%;
      border-width: 13px;
    }
  }
}

.types__img-wrap {
  position: relative;
  height: 0;
  border-radius: 10px;
  overflow: hidden;

  @media (max-width: $tablet-max-width) {
    min-width: 270px;
  }
}


.types__item--decor-left .types__img-wrap {
  padding-bottom: 148.5%;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 111%;
  }

  @media (max-width: $mobile-max-width) {
    //padding-bottom: 111%;
  }
}

.types__item--decor-corners .types__img-wrap {
  padding-bottom: 167%;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 111%;
  }

  @media (max-width: $mobile-max-width) {
    //padding-bottom: 111%;
  }
}

.types__item--decor-top .types__img-wrap {
  padding-bottom: 150%;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 111%;
  }

  @media (max-width: $mobile-max-width) {
    //padding-bottom: 111%;
  }
}

.types__img {
  position: absolute;
  width: auto;
  height: 100%;
  top: -50%;
  bottom: -50%;
  right: -50%;
  left: -50%;
  margin: auto;
}

.types__item--decor-left .types__img {
  @media (max-width: $tablet-max-width) {
    height: 120%;
  }
}

.types__item--decor-corners .types__img {
  @media (max-width: $tablet-max-width) {
    height: 137%;
  }
}

.types__item--decor-top .types__img {
  left: -62%;

  @media (max-width: $tablet-max-width) {
    left: -50%;
  }
}


.types__caption {
  margin-top: 20px;
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
}
