.page-footer {
  display: flex;
  justify-content: center;
  padding: 150px 0 40px;
  background-color: $bg;
  flex: 0 0 auto;

  @media (max-width: $tablet-max-width) {
    padding: 68px 0 40px;
  }
}
