.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @media (max-width: $tablet-max-width) {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    z-index: 2;
  }
}

.nojs .page-header {
  @media (max-width: $tablet-max-width) {
    position: relative;
  }
}

.page-header__logo {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: block;
    margin: 25px 0 0 23px;
  }

  @media (max-width: $tablet-max-width) {
    margin: 25px 0 0 17px;
  }
}
