html {
  box-sizing: border-box;
}

html *,
html::after,
html::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  flex: 1 0 auto;
}
