:root {
  --prymary: #0ad9c6;
  --textColor: #000000;
  --textColorInverse: #ffffff;
  --bgBlack: #131314;
  --bgGrey: #e5e5e5;
  --bg: #ffffff;

  --fontFamyliDefault: "Open Sans", "Arial", sans-serif;
  --fontFamyliOption: "Overpass", "Arial", sans-serif;
}
